body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.post{
    background-color: white;
    width: 500px;
    height: auto;
    font-family: 'Playwrite NZ Basic', sans-serif;
}
.post-head{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.post-head-first {
    display: flex;
    
}
i{
    font-size: 25px;
}
.head-text{
    font-size: 7.5px;
    padding-left: 10px;
}
img{
    display: flex;
    width: 500px;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons-right{
    padding: 10px;
}
.fa-bookmark{
    padding: 10px;
}
p{
    font-size: 15px;
    padding: 10px;
}
.bottom{
    padding: 5px;
}

